
body{
    margin:0%;
}


.header{
    display: flex;
    background-color: #1F2937;
    height: 30px;
    justify-content: space-evenly;
    padding-bottom: 20px;
    align-items: baseline;
    padding-top: 0%;
}

ul{
    display: flex;
    gap: 50px;
    font-size: 18px;
    color: #E5E7EB;
    
}
.logo{
    display: flex;

}






.logo{
    font-size: 24px;
    color: #F9FAF8;
    gap: 50px;
}
    


.Awesome{
    font-size: 48px;
    font-weight: bolder;
    background-color: #F9FAF8;
    display: flex;
}

.buttoon{
    background-color: #3882F6;
}

.second{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
}

.third{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light-italic;
    color: #1F2937;
    display: flex;
}

.image{
    display: flex;
}

.footer{
    display: flex;
    background-color: #1F2937;
}